<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a Data Scientist graduating with a bachelor's degree in Computational Modeling and Data Analytics from Virginia Tech. <br><br> I have a strong passion for the world of data, which is evergrowing.  </p>
      </div>
      <div class="col-lg-4 col-lg-offset-0.75">
        <p>I am currently working on gaining experience through work and personal projects to further increase my knowledge in the future of data. <br><br> Besides learning new skills and applying to new projects, I love reading books on obscure topics and learning about them. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <button onclick="window.open('https://abdullahresume.tiiny.site', '_blank')">Open PDF</button>
      </div>
    </div>
  </div>
</section>
