<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a skilled data scientist with strong experience in statistical analysis, deep learning, machine learning, and data visualization. I am able to collaborate with team members and leaders to design and implement a data strategy that utilizes a combination of algorithms and modules to uncover valuable insights and trends within our data. I am seeking to leverage my skills and experience in a dynamic and innovative organization.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="C:\Users\Abdullah\Documents\Resume\1 Page\Mir Muhammad Abdullah Resume.pdf" class="btn btn-lg btn-outline" download>
          <i class="fa fa-download"></i> Download PDF
        </a>
      </div>
    </div>
  </div>
</section>
